.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word {
  margin-bottom: 8px;
}

.text {
  color: var(--color-p);
  font-weight: 700;
}

.play {
  cursor: pointer;
}

@media (max-width: 420px) {
  .word {
    margin-bottom: 4px;
  }

  .play svg {
    width: 58px;
    height: 58px;
  }
}
