.toggleContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggleButton {
  background: var(--color-n-400);
  width: 48px;
  height: 24px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.toggleButton::after {
  content: '';
  background: var(--color-n-100);
  width: 16px;
  height: 16px;
  border-radius: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.2s ease-in-out;
}

.toggleContainer.active .toggleButton {
  background-color: var(--color-p);
}

.toggleContainer.active .toggleButton::after {
  left: 28px;
}

.toggleContainer svg {
  transition: stroke 0.2s ease-in-out;
}

.toggleContainer.active svg path {
  stroke: var(--color-p);
}
