.select {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.select::after {
  content: '';
  background: var(--color-n-300);
  height: 42px;
  width: 1px;
  position: absolute;
  right: -20px;
  pointer-events: none;
}
