.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 36px;
}

@media(max-width: 420px) {
  .header {
    margin-top: 0;
    margin-bottom: 24px;
  }
}
